<input type="text" [(ngModel)] = "title" name="title" placeholder = "Title...">
<textarea [(ngModel)]="content" name="content" placeholder="Content..."></textarea>
<input type="submit" value="Add a post" (click)="addPost()">

<ul *ngFor = "let post of posts | async">
  <li (click) = "getPost(post.id)">
    <strong>{{post.data.title}} (<a href="#"(click)="deletePost(post.id)">Delete</a>)</strong>
    <strong>{{post.data.title}} (<a href="#"(click)="editPost(post.id)">Edit</a>)</strong>
    <br>
    {{post.data.content}}
  </li>
</ul>

<h1>A specific post</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>


